    body {
        margin: 0;
        padding: 0;
    }
    
    .nav-list {
        width: 200px;
        height: 100%;
        float: left;
        background-color: #324057;
    }
    
    .nav-list ul {
        padding-left: 0;
        margin: 0;
    }
    
    .nav-list li {
        list-style: none;
        cursor: pointer;
    }
    
    .nav-list li a {
        color: #bfcbd9;
        display: block;
        height: 50px;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        font-size: 14px;
    }
    
    .list {
        height: 0;
        background-color: #1f2d3d;
        overflow: hidden;
        transition: height 0.5s;
    }
    
    .list a:hover {
        background-color: #555;
    }
    
    .list-con h1 {
        margin: 0;
        padding: 0 30px;
        height: 50px;
        line-height: 50px;
        color: #a5c7d8;
        font-size: 14px;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
    }
    
    .list-con h1:hover {
        background-color: #555;
    }
    
    .list-con h1 span {
        width: 14px;
        height: 14px;
        float: right;
        margin: 18px 0px;
        transform: rotate(0deg);
        transition: transform 0.5s;
        background-repeat: no-repeat;
        background-image: url(../../../picture/arrow_down.png);
        background-size: 14px;
    }