li {
    list-style: none;
}

.store-name span {
    color: #8391a5;
    font-size: 15px;
}

.store-name span a {
    color: red;
}

.store-name input {
    width: 600px;
    height: 40px;
    margin: 0px 0px 25px 30px;
    border: 1px solid #8391a5;
    border-radius: 5px
}

.det-addr span {
    color: #8391a5;
    font-size: 15px;
}

.det-addr span a {
    color: red;
}

.det-addr input {
    width: 600px;
    height: 40px;
    margin: 0px 0px 0px 30px;
    border: 1px solid #8391a5;
    border-radius: 5px
}

.det-addr p {
    margin: 5px 0 20px 0;
    padding-left: 100px;
    font-size: 8px;
    color: #8391a5;
}

.cont-phone span {
    color: #8391a5;
    font-size: 15px;
}

.cont-phone span a {
    color: red;
}

.cont-phone input {
    width: 600px;
    height: 40px;
    margin: 0px 0px 25px 30px;
    border: 1px solid #8391a5;
    border-radius: 5px;
}

.switch {
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 15px;
    display: block;
    margin: 3px;
    pointer-events: none;
    background-color: #fff;
    transition: margin-left 0.5s;
}

.switch-container {
    width: 45px;
    height: 21px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: background-color 0.5s;
}

.upload-avatar {
    width: 100px;
    height: 100px;
    border: 1px dashed #333;
    border-radius: 3px;
}

.upload-avatar:hover {
    cursor: pointer;
    border: 1px dashed blue;
}

.parent-option:hover {
    background-color: blue;
}