.user-list {
    /* float: left; */
    width: auto;
    position: absolute;
    top: 0px;
    bottom: 50px;
}

.user-list ul {
    margin: 0px;
    padding: 0px;
}

.user-nav {
    display: block;
    height: 20px;
    width: 100%;
}

.user-nav ul li {
    display: block;
    list-style: none;
    float: left;
    text-align: center;
    width: 567px;
}